* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    height: 100vh;
}

.right-side{
    flex: 1.5;
}

.left-side{
    flex: 1;
}

.left-side{
    background: linear-gradient(135deg,#0F081A,#1E1530);
    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:60px;
}

.right-side{
    background-color: lemonchiffon;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px;
}

.left-side{
    flex: 1;
    position: relative;
    background-image: url("assets/images/joinphoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-side::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(15,8,26,.65),
        rgba(15,8,26,.85)
    );
}

.left-content{
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 40px;
}

.left-content img{
    width: 250px;
}

.right-side h1{
    font-size: 3rem;
}

p {
    color: darkgoldenrod;
}